<!DOCTYPE html>
<html ng-app="endurojs_angular_app">
	<head>
		<title>enduro.js angular project</title>
		<link rel="stylesheet" href="/assets/css/main.css">
		<script src="/assets/vendor/angular/angular.min.js"></script>
	</head>
	<body>

		<div ng-controller="dummy_controller">
			<div>\{{seconds}}</div>
		</div>

		<script src="/assets/js/app.js"></script>

		{{#files '/assets/js/services'}}
			<script src="/assets/js/services{{this}}"></script>
		{{/files}}

		{{#files '/assets/js/controllers'}}
			<script src="/assets/js/controllers{{this}}"></script>
		{{/files}}

		{{#files '/assets/js/directives'}}
			<script src="/assets/js/directives{{this}}"></script>
		{{/files}}

		{{#files '/assets/js/utilities'}}
			<script src="/assets/js/utilities{{this}}"></script>
		{{/files}}


	</body>
</html>